<div class="row">
  <div class="col-sm-12 form-horizontal">
    <% Sys::Product.detail_shown_attributes.each do |attr_name| %>
      <div class="form-group">
        <label class="col-xs-3 control-label">
          <%= Sys::Product.human_attribute_name(attr_name) %>：
        </label>
        <div class="col-xs-6">
          <% case attr_name
            when "price" %>
            <%= format_price(@sys_product.send(attr_name)) %>
          <%- else -%>
            <%= @sys_product.send(attr_name) %>
          <%- end -%>
        </div>
      </div>
    <%- end -%>
  </div>
  <!--
  <div class="center">
    <%#= link_to("修改", edit_sys_product_path(@sys_product, format: "js"), class: "btn btn-primary", remote: true) %>
  </div> -->
</div>