<div class="row">
  <div class="col-sm-12 form-horizontal">
    <% Core::Seller.detail_shown_attributes.each do |attr_name| %>
      <div class="form-group">
        <label class="col-xs-3 control-label">
          <%= Core::Seller.human_attribute_name(attr_name) %>：
        </label>
        <div class="col-xs-6">
          <%= @core_seller.send(attr_name) %>
        </div>
      </div>
    <%- end -%>
  </div>
</div>