<div class="row">
  <div class="col-sm-12">
    <%= simple_form_for @core_stock_out_bill, url: core_stock_stock_out_bills_path(@core_stock), html: {role: 'form'} do |f| %>
      <%= render "form", f: f %>
    <%- end -%>
  </div>
</div>