<div class="page-header">
  <h1>
    <%= @core_role.name %>
  </h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="tabbable">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active">
          <a data-toggle="tab" href="#permissions-tab">角色权限</a>
        </li>

        <li>
          <a data-toggle="tab" href="#users-tab">关联用户</a>
        </li>
      </ul>

      <div class="tab-content">
        <!-- base info -->
        <div id="permissions-tab" class="tab-pane in active">
          <div class="row">
            <div class="col-sm-12">
              <%= render("permission_list") %>
            </div>
          </div>
        </div>
        <!-- base info -->

        <div id="users-tab" class="tab-pane">
          <div class="row">
            <div class="col-sm-12">
              <div id="user_role_list">
              </div>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div><!-- /span -->
</div>