<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>门店通功能升级啦！</title>
  </head>

  <body>
    <table border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td><div align="left"><br />
        本邮件如不能正常显示，请<a href="http://www.doorder.com/edm/index.html">点击这里</a>！</div>    </td>
      </tr>
      <tr>
        <td height="50">门店通功能升级啦！</td>
      </tr>
      <tr>
        <td height="50">签到有礼，让更多人关注你的微淘，增加与买家互动的机会，并从中发现你的忠实用户！［<a href="http://fuwu.taobao.com/ser/detail.htm?spm=a1z13.1113643.52266019.48.UfrdQH&amp;service_code=FW_GOODS-1916978&amp;tracelog=category&amp;scm=1215.1.1.52266019&amp;ppath=&amp;labels=">点击查看应用</a>］ </td>
      </tr>
      <tr>
        <td><div align="center"><a href="http://fuwu.taobao.com/ser/detail.htm?spm=a1z13.1113643.52266019.48.UfrdQH&amp;service_code=FW_GOODS-1916978&amp;tracelog=category&amp;scm=1215.1.1.52266019&amp;ppath=&amp;labels="><img src="http://www.doorder.com/edm/images/edm_01.jpg" width="500" height="246" /></a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="http://fuwu.taobao.com/ser/detail.htm?spm=a1z13.1113643.52266019.48.UfrdQH&amp;service_code=FW_GOODS-1916978&amp;tracelog=category&amp;scm=1215.1.1.52266019&amp;ppath=&amp;labels="><img src="http://www.doorder.com/edm/images/edm_02.jpg" width="500" /></a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="http://fuwu.taobao.com/ser/detail.htm?spm=a1z13.1113643.52266019.48.UfrdQH&amp;service_code=FW_GOODS-1916978&amp;tracelog=category&amp;scm=1215.1.1.52266019&amp;ppath=&amp;labels="><img src="http://www.doorder.com/edm/images/edm_03.jpg" width="500" height="278" /></a></div></td>
      </tr>
      <tr>
        <td height="50"><div align="center">此为系统邮件，请勿回复 </div></td>
      </tr>
    </table>

    <map name="Map2" id="Map2">
      <area shape="rect" coords="121,26,404,104" href="http://www.mamonde.com.cn/" />
      <area shape="rect" coords="416,27,698,100" href="http://mamonde.tmall.com/shop/view_shop.htm?prt=1347495385304&amp;prc=2" />
      <area shape="rect" coords="251,118,382,172" href="http://weibo.com/mamonde" />
      <area shape="rect" coords="396,120,514,175" href="http://i.youku.com/u/UMzU4MzI0Mjcy" />
      <area shape="rect" coords="520,121,663,177" href="http://t.qq.com/Mamonde" />
    </map>
  </body>
</html>