<tr id="core_logistic_area_<%= core_logistic_area.id%>">
  <% Core::LogisticArea.inner_shown_attributes_for_core_area.each do |attr_name| %>
    <th>
      <%= core_logistic_area.send(attr_name) %>
    </th>
  <%- end -%>
  <td>
    <%= link_to "删除", core_logistic_area_path(core_logistic_area, from:"area"), class: "btn btn-xs btn-danger", method: :delete, data: { confirm: '您确定要删除吗？'}, remote: true %>
  </td>
</tr>