# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b04e2ee6822134815a8cc78c35231ca4c1f8c570f7255794c60e67f5c5c708583f8cd443463911ba40c52be1ae6af4e44ee285c56e7a58aa485a217aab21c6b2

test:
  secret_key_base: dabc23b27f6906c00bea4d5698d1759c6d9fcb8b0160845fcb367e3cb4a712be72f934c01e411e3b18ab93adb42816df3012bad0bcb2d12c0baeb2585d403ef3

production:
  secret_key_base: e113d49ca38aa97f565c131a325a8276f962b6350b549c3d9eaaa5df9f00fda45a01aa8d7adf6d9b266aee33ff919e09d588ad2d765b1a0d741273ad8be1413e
