<div class="row">
  <div class="col-sm-12 form-horizontal">
    <% Core::Stock.detail_shown_attributes.each do |attr_name| %>
      <div class="form-group">
        <label class="col-xs-3 control-label">
          <%= Core::Stock.human_attribute_name(attr_name) %>：
        </label>
        <div class="col-xs-6">
          <%- case attr_name 
            when "sellers_name" -%>
            <%= raw @core_stock.sellers.map(&:name).join("<br/>") %>
          <%- else -%>
            <%= @core_stock.send(attr_name) %>
          <%- end -%>
        </div>
      </div>
    <%- end -%>
  </div>
</div>