<div class="row">
  <div class="col-sm-12">
    <div class="tabbable">
      <ul class="nav nav-tabs" id="myTab">
        <%= render("core/stocks/tab_navs") %>
      </ul>

      <div class="tab-content">
        <!-- base info -->
        <div class="tab-pane in active">
          <%= render("base_info") %>
        </div>
      </div>
    </div>
  </div><!-- /span -->
</div>