<div id="accounts"></div>
<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Phecda.Routers.AccountsRouter({accounts: <%= @accounts.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
